.background-building {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: absolute;
  top: 0px;
  background-color: blanchedalmond;
}

.building-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bb4{
  width: 11%;
  height: 58%;
  background-color: black;
  margin: 2px;
}
.bb4a{
    width: 3%;
    height: 10%;
    margin: 2px;
    background-color: #538cc6;
}
.bb4b{
    width: 80%;
    height: 5%;
    margin: 1px;
    background-color: #538cc6;;
}
.bb4c{
    width: 100%;
    height: 85%;
    background-color: #538cc6;
    margin: 2px;
}
.bb4-window{
    width: 90%;
    height: 18%;
    background-color: #538cc6;
    margin: 2px;
}
